[user]
	name = howsiwei
	email = houxiwu@gmail.com
[core]
	editor = vi
[alias]
	lg = log --oneline
	st = status
	track = update-index --no-assume-unchanged
	untrack = update-index --assume-unchanged
	ls-untracked = !git ls-files -v | grep ^h | cut -c 3-
[push]
	default = simple
